@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    height: 700px;
    background-color: #121212;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin-right: 500px;
   margin-top: -20px;
}

.downbar{
    width: 100%;
    bottom: 0;
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: #121212;
    color: white;
    border-color: #9A9B9B;
    margin-bottom: 13px;
}
.songItem:hover{
    background-color: black;
    color: #9A9B9B;
    cursor: pointer;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen{
    body {
      background-color:#121212;
    }
  }
/* Song card container */
.song-card {
    position: fixed;
    top: 180px;
    right: 20px;
    width: 300px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

/* Hide the card */
.hidden {
    display: none;
}
.hidden {
    transform: translateY(1000%);
    position: absolute;
    top: 50%;
    right: 0;
    visibility: hidden;
    height: 0; /* Optionally set height to 0 to ensure no space is taken */
}

/* Image inside the card */
.song-card img {
    width: 100%;
    height: auto;
}

/* Song information */
.song-info {
    padding: 15px;
}

.song-info h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.song-info p {
    margin: 0;
    color: #ccc;
}
.playing {
    color: #d1b278;
}
